In [5]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [9]:
df.head()
table = pd.DataFrame(df)

In [11]:
rows = len(df)
print("Number of rows:", rows)

Number of rows: 9704

In [12]:
table['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [13]:
print(table.isnull().sum().sum())

2622

In [16]:
missing_cols = table.isnull().sum()
num_missing_cols = (missing_cols > 0).sum()

print("Number of columns with missing values:", num_missing_cols)

Number of columns with missing values: 4

In [17]:
table.groupby('fuel_type')

In [18]:
df_two_cols = table[['origin', 'fuel_efficiency_mpg']]

In [19]:
df_two_cols

      origin  fuel_efficiency_mpg
0     Europe            13.231729
1        USA            13.688217
2     Europe            14.246341
3        USA            16.912736
4     Europe            12.488369
...      ...                  ...
9699  Europe            15.101802
9700     USA            17.962326
9701     USA            17.186587
9702     USA            15.331551
9703    Asia            14.884467

[9704 rows x 2 columns]

In [20]:
max_efficiency_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

In [21]:
max_efficiency_asia

np.float64(23.759122836520497)

In [22]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [23]:
horse_power= df['horsepower'].median()

In [24]:
horse_power

np.float64(149.0)

In [26]:
horse_power_mode= df['horsepower'].mode()[0]

In [27]:
horse_power_mode

np.float64(152.0)

In [28]:
df['horsepower'].fillna(152, inplace=True)

In [29]:
horse_power_again= df['horsepower'].median()

In [30]:
horse_power_again

np.float64(152.0)

In [33]:
cars_from_asia = df[df['origin'] == 'Asia']

In [34]:
cars_from_asia

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [36]:
cars_from_asia = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)
cars_from_asia

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [37]:
x=cars_from_asia.head(7)

In [38]:
XTX = x.T.dot(x)

In [39]:
XTX

                vehicle_weight    model_year
vehicle_weight    6.224833e+07  4.143122e+07
model_year        4.143122e+07  2.837334e+07

In [41]:
import numpy as np
XTX_inv = np.linalg.inv(XTX)

In [42]:
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [49]:
7cars=cars_from_asia.head(7)

SyntaxError: invalid decimal literal (1461984275.py, line 1)

In [50]:
xcars=cars_from_asia.head(7)

In [51]:
xcars

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [52]:
xtx= xcars.T.dot(xcars)

In [53]:
XTX_inv = np.linalg.pinv(xtx)

In [54]:
y=[1100, 1300, 800, 900, 1000, 1100, 1200]
result= XTX_inv.dot(xcars.T)

In [55]:
w= result.dot(y)

In [56]:
w.sum()

np.float64(0.518770908107405)